{% extends "::base.html.twig" %}

{% block title %}AppBundle:Tournament:tournament{% endblock %}

{% block body %}
    {% include "::tournament-helper.html.twig" %}

    {% if date("now") < date(tournament.start) %}
    <p>Problems will be available after starting tournament!</p>
    {% else %}
    <nav class="panel is-fullwidth is-bordered">
        {% set i = 0 %}
        {% set alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'] %}
        {% for problem in tournament.problems %}
            <a href="{{ path('tournament_problem', {tournamentId: tournament.id, problemId: problem.id}) }}" class="panel-block">
                <h6 class="subtitle is-6">
                    <b>{{ alphabet[i]|upper }}.</b> {{ problem.title }}
                </h6>
            </a>
            {% set i = i + 1 %}
        {% endfor %}
    </nav>
    {% endif %}
{% endblock %}
