{% extends "::base.html.twig" %}

{% block title %}AppBundle:Tournament:tournament{% endblock %}

{% block body %}
    {% include "::tournament-helper.html.twig" %}

    {% if date("now") < date(tournament.start) %}
    <p>Problems will be available after start tournament!</p>
    {% else %}
    <nav class="panel is-fullwidth is-bordered">
        {% for problem in tournament.problems %}
            <a href="{{ path('problem', {id: problem.id}) }}" class="panel-block">
                <h6 class="subtitle is-6">
                    {{ problem.title }}
                </h6>
            </a>
        {% endfor %}
    </nav>
    {% endif %}
{% endblock %}
