<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/bulma/css/bulma.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "::navbar.html.twig" %}

        <section class="section">
            <div class="container" style="margin-top: 30px">
                {% block body %}{% endblock %}
            </div>
        </section>
        {% block javascripts %}{% endblock %}
    </body>
</html>
