{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        html,body {
            background: #EFF3F4;
        }
        .tile.notification {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .is-shady {
            animation: flyintoright .4s backwards;
            background: #fff;
            box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
            border-radius: 4px;
            display: inline-block;
            margin: 10px;
            position: relative;
            transition: all .2s ease-in-out;
        }
        .is-shady:hover {
            box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
        }
    </style>

    <div class="tile is-parent is-shady">
        <article class="tile is-child notification is-white">
            <p class="title">{{ news.title }}</p>
            <p class="subtitle">With some content</p>
            <div class="content">
                {{ news.content | raw }}
            </div>
        </article>
    </div>

{% endblock %}