{% extends 'base.html.twig' %}

{% block body %}
    <nav class="panel is-fullwidth is-bordered">
        {% for problem in problems %}
            <a href="{{ path('problem', {problemId: problem.id}) }}" class="panel-block">
                <h6 class="subtitle is-6">
                    {{ problem.title }}
                </h6>
            </a>
        {% endfor %}
    </nav>
{% endblock %}