{% extends 'base.html.twig' %}

{% block body %}
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Title</th>
                <th>Topic</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr>
                <td>
                    <a href="{{ path('problem', {problemId: problem.id}) }}">
                        {{ problem.title }}
                    </a>
                </td>
                <td>
                    {{ problem.topic }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(problems) }}
{% endblock %}