{% extends "::base.html.twig" %}

{% block title %}AppBundle:Problem:problem{% endblock %}

{% block body %}
    {% include "@App/Problem/_tabs.html.twig" %}

    <table class="table is-fullwidth is-bordered">
        <thead>
            <tr class="is-selected">
                <th>In</th><th>Out</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ statement.in | nl2br }}</td>
                <td>{{ statement.in | nl2br }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}