{% set route = app.request.attributes.get('_route') %}
<div class="tabs">
    <ul>
        <li class="{% if route == 'user' %}is-active{% endif %}">
            <a href="{{ path('user', {username: user.username}) }}">
                <span class="icon is-small"><i class="fa fa-user"></i></span>
                Profile
            </a>
        </li>
        <li class="{% if route == 'user_card' %}is-active{% endif %}">
            <a href="{{ path('user_card', {username: user.username}) }}">
                <span class="icon is-small"><i class="fa fa-table"></i></span>
                Card
            </a>
        </li>
    </ul>
</div>