{% extends "::base.html.twig" %}

{% block title %}AppBundle:Users:user{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-one-third">
            {% include "@App/Users/_avatar.html.twig" %}
        </div>
        <div class="column highlight-full">
            {% include "@App/Users/_tabs.html.twig" %}
        </div>
    </div>
{% endblock %}
